html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    margin: 0;
}
/*
.grid-container {
    display: grid;
    grid-template: minmax(120px, auto) 1fr minmax(350px, auto) / 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    min-height: 100%;
}
*/

.grid-container {
    min-height: 100%;
    display: grid;
    grid-template: minmax(84px, auto) minmax(403px, auto) minmax(719px, auto) minmax(483px, auto) minmax(604px, auto) minmax(645px, auto) minmax(176px, auto) / 1fr;
    grid-template-areas:
    "header"
    "jumbotron"
    "problem"
    "hero"
    "ppc"
    "team"
    "footer";
}

.header {
    grid-area: header;
}

.jumbotron {
    grid-area: jumbotron;
}

.problem {
    grid-area: problem;
}

.hero {
    grid-area: hero;
}

.ppc {
    grid-area: ppc;
}

.team {
    grid-area: team;
}

.footer {
    grid-area: footer;
}
/*
.header {
    position: sticky;
    top: 0;
    background-color: #007765;
    padding: 20px 0 12px 0;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 184px) 1fr minmax(auto, 480px) 1fr;
}

.header__logo {
    grid-column: 2 / 3;
}

.header__navigation {
    grid-column: 4 / 5;
}

.navigation__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}
*/

.header {
    position: sticky;
    top: 0;
    background: #007765;
}

.header__wrapper {
    max-width: 1219px;
    margin: 0 auto;
    padding: 20px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg-two {
    margin-left: -49px;
}

.header__link {
    text-decoration: none;
}

.navigation__list {
    display: flex;
}

.navigation__item {
    list-style: none;
}

.navigation__item {
    padding-right: 8px;
    padding-left: 8px;
    border-right: 3px solid #FFFFFF;
}

.navigation__item:last-child {
    border-right: 0;
}

.navigation__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    cursor: pointer;
}

.navigation__link:hover {
    color: #b5b1b1;
    transition: all 0.5s ease-out;
}

/***************************** JUMBOTRON ****************/

.jumbotron {
    background: url(images/pipernet.png);
    background-size: cover;
}

.jumbotron__wrapper {
    max-width: 1219px;
    padding: 160px 55px;
    margin: 0 auto;
}

.jumbotron__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    min-width: 550px;
}

/***************************** PROBLEM ***************************/

.problem {
    background: #EEEEEE;
}

.problem__wrapper {
    max-width: 1219px;
    margin: 0 auto;
    padding: 48px 54px 92px 55px;
}

.problem__content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1110px;
}

.problem__title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #007765;
}

.problem__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.text-weight {
    font-weight: bold;
}

/********************************************** HERO *********************************/

.hero {
    background: url(images/Were.png);
    background-size: cover;
}

.hero__wrapper {
    max-width: 1219px;
    margin: 0 auto;
    padding: 128px 0;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__text {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    max-width: 844px;
}

/************************ PPC ************************************/

.ppc__wrapper {
    max-width: 1219px;
    margin: 0 auto;
    padding: 48px 54px 92px 55px;
}

.ppc__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    padding-bottom: 16px;
}

.ppc__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ppc__link {
    padding-right: 48px;
}

.logo__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin: 0;
}

.ppc__z {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ppc__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

/***************************** TEAM ************************/

.team {
    background: #EEEEEE;
}

.team__wrapper {
    max-width: 1219px;
    margin: 0 auto;
    padding: 48px 55px 94px 55px;
}

.team__title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #007765;
    padding-bottom: 56px;
}

.team__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-row-gap: 40px;
}

.team__card {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(22px, auto) / 1fr;
    padding-bottom: 32px;
}

.team__image {
    text-align: center;
    cursor: pointer;
}

.team__member {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;
}

.team__member:hover {
    color: #10541b;
    transition: all 0.5s ease-out;
}

.team__position {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    margin: 0;
}

/******************************* FOOTER ****************************/

.footer {
    background: #333333;
}

.footer__wrapper {
    max-width: 1219px;
    margin: 0 auto;
    padding: 48px 0 44px 0;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    max-width: 540px;
    color: #FFFFFF;
}